@model AgenciaViagem.Models.CadastrarCliente

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        body {
            background-color: rgb(238, 186, 42);
        }

        a {
            text-decoration: none;
            color: black;
        }

            a:hover {
                color: black;
            }
    </style>
</head>

<h1>Você tem certeza que deletará esse cadastro?</h1>
<p>Deletar esse cadastro é uma ação <strong>permanente</strong></p>
<div>
    <h4>Cadastrar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome_cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome_cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sobrenome_cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sobrenome_cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data_nasc_cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data_nasc_cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.endereco_cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endereco_cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.telefone_cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.telefone_cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cidade_cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cidade_cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email_cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email_cliente)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_cliente" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Voltar</a>
    </form>
</div>
